<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 음성 인식 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:minSdkVersion="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:minSdkVersion="31"/>

    <!-- 노티피케이션 권한 -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <application
        android:name="com.deucapstone2023.app.ui.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeuCapStone2023"
        android:screenOrientation="portrait"
        tools:targetApi="31">

        <activity
            android:name="com.deucapstone2023.app.ui.navigation.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.DeuCapStone2023">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <service android:name=".ui.service.SpeechService"
            android:description="@string/ai비서"
            />

    </application>

</manifest>